body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-image: url("world.jpg");
margin: 0;
}


.up {
 display: inline-block;
width: 100%;}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    color: purple;
    font-size: 2rem;

}
.middle {
    display: flex;

}
.first, .second, .third {
width: 33%;
text-align: center;
padding-top: 30px;
}


.dwon {
    display: flex;
    padding: 10px;
    position: relative;

}


.dwon p {
    color: gray;
    display: flex;
}

span {
    color: white;
}

h6 {
    font-size: 1.5em;
    color: white;
}

.pink {
    background-color: pink;
    text-align: center;
    padding: 10px;

}

.blue {
    background-color: blue;
    text-align: center;
    padding: 10px;

}

.green {
    background-color: green;
    text-align: center;
    padding: 10px;
}

.left, .ri, .center {
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline-block;
    margin-top: 50px;
    height: 100%;
}


.chris {
    height: 70px;
    width: 70px;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin-top: 5px;
}

.tina {
    height: 70px;
    width: 70px;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin-top: 5px;
}

.corrine {
    height: 70px;
    width: 70px;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    margin-top: 5px;
}