
.container>* {
    border: 1px solid black;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: lightgray;
    padding: 0.5rem;
}

#first {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(8, 1fr);
padding-inline: 0.5rem;
}

#second {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(60, 1fr);
    border: 1px solid gray;
    padding-inline: 0.5rem;
    }

    button {
        border: 1px solid gray;
        grid-column: 1 / 4 ;
    }

    .drawingBoxes {
        border: 1px solid black;
    }
    
    .colorBoxes {
        border: 1px solid black;
        cursor: pointer;
    }
